h1 {
    position: absolute;
    visibility: hidden;
}

h2:nth-of-type(1) {
    text-align: center;
    margin: 1em;
}

h3 {
    color: dimgrey;

}

video {
    max-width: 100%;
    /* Zorg dat de video niet groter is dan zijn container */
    display: block;

}


button {
    /* https://www.w3schools.com/css/css3_buttons.asp voor button layout
    https://www.w3schools.com/howto/howto_css_center_button.asp*/
    background-color: white;
    color: black;
    padding: 1em;
    text-align: center;
}

section:nth-of-type(2) button {
    display: block;
    margin: auto;
    background: black;
    color: white;
    padding-left: 5em;
    padding-right: 5em;
    text-align: center;
}


ul {
    padding: 0;
}

a {
    text-decoration: none;
    color: black;
}

section:nth-of-type(1) ul {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    /* 4 kolommen die allemaal even breed zijn 1fr betekend dat alle 4 de kolommen een evengroot aandeel krijgen van de ruimte waardoor ze mooi op 1 lijn liggen */
    /* 4 naast elkaar */
    grid-gap: 1em;
}

section:nth-of-type(1) li {
    list-style-type: none;
    text-align: center;
}

section:nth-of-type(1) img {
    width: 100%;
    /* Afbeeldingen responsief */
    height: auto;
}

section:nth-of-type(2) ul {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
}

section:nth-of-type(2) li {
    min-width: 20%;
    /* Elke afbeelding neemt 20% in beslag */
    list-style-type: none;
}

section:nth-of-type(2) img {
    width: 100%;
    height: auto;
}


section:nth-of-type(3) ul {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    /* 2 naast elkaar voor grotere schermen */
    list-style-type: none;
    grid-gap: 5em;
    text-align: center;
}

section:nth-of-type(3) img {
    width: 100%;
    height: auto;

}

section:nth-of-type(4) {
    display: block;
    background: rgb(255, 56, 92);
    background: linear-gradient(90deg, rgba(255, 56, 92, 1) 0%, rgba(247, 153, 186, 1) 100%);
    /* Met gebruik van https://cssgradient.io/ om dezelfde gradient te maken als op asos zelf */
    text-align: center;
    width: 100%;
}

section:nth-of-type(4) button:nth-of-type(1) {
    border-radius: 2em;
    margin-top: 1em;
    background: transparent;
    font-size: 1.1em;
    padding 0;
    border-color: black;

}

section:nth-of-type(4) button:nth-of-type(2) {
    border-radius: 2em;
    margin-bottom: 1em;
    background: black;
    font-size: 1.1em;
    padding 0;
    color: white;


}

@media (max-width: 768px) {

    /* 2 items per rij voor tablets */
    section:nth-of-type(1) ul {
        grid-template-columns: repeat(2, 1fr);
    }

    /* 1 item per rij voor mobiel */
    section:nth-of-type(3) ul {
        grid-template-columns: 1fr;
    }
